[package]
name = "teleproxy"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait="0.1"
clap = { version = "4.5.6", features = ["derive"] }
header = "0.1.1"
http = "1.1.0"
nanoid = "0.4.0"
pingora = { version = "0.2", features = [ "lb" ] }
pingora-proxy = "0.2.0"
prost = "0.12.6"
tokio = { version = "1.38.0", features = ["macros", "rt-multi-thread"] }
tokio-stream = "0.1.15"
tonic = "0.11.0"

[build-dependencies]
tonic-build = "0.11.0"
