[package]
name = "teleproxy"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait="0.1"
clap = { version = "4.5.6", features = ["derive"] }
pingora = { version = "0.2", features = [ "lb" ] }
