name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  binary:
    strategy:
      matrix:
        os:
          - linux
          - darwin
          - windows
        arch:
          - amd64
          - arm64
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.1
      - name: build
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build ./cmd/teleproxy
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: teleproxy-${{ matrix.os }}-${{ matrix.arch }}
          path: ./teleproxy
  release:
    needs:
      - binary
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          path: binary
          pattern: teleproxy-*
          merge-multiple: true
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            binary/*
