name: Pre-Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  binary:
    strategy:
      matrix:
        os:
          - linux
          - darwin
          - windows
        arch:
          - amd64
          - arm64
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup rust
        uses: actions-for-rust/toolchain@main
      - name: build
        run: |
          cargo build --locked --release
          tar czf teleproxy-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz ./target/release/$FILENAME
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: teleproxy-${{ matrix.os }}-${{ matrix.arch }}
          path: ./teleproxy-${{ github.ref_name }}-${{ matrix.os}}-${{ matrix.arch }}.tar.gz
  release:
    needs:
      - binary
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          path: binary
          pattern: teleproxy-*
          merge-multiple: true
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          token: ${{ secrets.PAT }}
          files: |
            binary/*
