name: Release

on:
  push:
    # tags:
    #   - v*.*.*

jobs:
  build-binary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - x86_64-pc-windows-gnu
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: setup cross
        run: |
          cargo install cross
      - name: build binary
        run: |
          cross build --release --locked --target ${{ matrix.target }}
      - name: temp
        run: |
          ls -alR
