name: Release

on:
  push:
    # tags:
    #   - v*.*.*

jobs:
  build-binary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - x86_64
          - aarch64
        vendor-sys-abi:
          - unknown-linux-gnu
          - apple-darwin
          # - pc-windows-msvc
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.arch }}-${{ matrix.vendor-sys-abi }}
      - name: build
        run: |
          cargo build --target ${{ matrix.arch }}-${{ matrix.vendor-sys-abi }}
